
.container{
  max-width:650px;
  margin:auto;
  padding:25px;
}

h1{
  text-align:center;
  margin-bottom:25px;
  letter-spacing:1px;
}

.summary{
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(10px);
  border-radius:10px;
  padding:20px;
  margin-bottom:20px;
  box-shadow:0 5px 20px rgba(0,0,0,0.4);
}

.summary h2{
  margin-bottom:10px;
}

.categories{
  display:flex;
  justify-content:space-between;
  font-size:14px;
}

.form{
  display:flex;
  flex-direction:column;
  gap:12px;
  margin-bottom:20px;
}

input,select{
  padding:12px;
  border-radius:6px;
  border:none;
  font-size:14px;
  margin-top: 20px;
}

input:focus,select:focus{
  outline:none;
  box-shadow:0 0 5px #3b82f6;
}

.form button{
  background:linear-gradient(90deg,#3b82f6,#2563eb);
  color:white;
  font-weight:bold;
  border:none;
  padding:12px;
  border-radius:6px;
  cursor:pointer;
  transition:0.2s;
}

.form button:hover{
  transform:scale(1.03);
  box-shadow:0 4px 12px rgba(0,0,0,0.4);
}

.filter-container{
  margin-bottom:15px;
}

.filter{
  width:100%;
  padding:12px;
  border-radius:6px;
}

label{
  font-weight: 700;
  font-size: 20px;
}
.card{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:rgba(255,255,255,0.05);
  padding:15px;
  margin-bottom:10px;
  border-radius:8px;
  transition:0.2s;
  border: 1px solid rgba(60, 59, 59, 0.293);
}

.card:hover{
  transform:translateY(-2px);
  box-shadow:0 5px 15px rgba(0,0,0,0.5);
}

.card h3{
  margin:0;
}

.amount{
  font-weight:bold;
  font-size:16px;
}

.delete-btn{
  background:#ef4444;
  color:white;
  border:none;
  padding:8px 12px;
  border-radius:5px;
  cursor:pointer;
  margin-left:10px;
  transition:0.2s;
}

.delete-btn:hover{
  background:#dc2626;
}

.clear-btn{
  width:100%;
  margin-top:15px;
  padding:12px;
  background:#dc2626;
  border:none;
  color:white;
  border-radius:6px;
  font-weight:bold;
  cursor:pointer;
  transition:0.2s;
}

.clear-btn:hover{
  background:#b91c1c;
}

.error{
  color:#f87171;
  font-size:24px;
  font-weight: 800;
}