
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background:rgb(169, 242, 195);
  /* color: white; */
}
button{
  cursor: pointer;
}